<html><head></head><body><pre style="word-wrap: break-word; white-space: pre-wrap;">/*Imnporting Component Files*/
@import url("./button.css");

/* style.css */
body{
	font-family: 'Roboto', sans-serif;
	padding:0 auto;
	margin: 0 auto;
	background-color: D1D1D1;
	font-size:12px;
	justify-content: center;
	}

h1 {
	margin:0 auto;
	padding:0;
}
h2 {
	margin:0 auto;
	padding:0;
}
h3 {
	margin:10px auto;
	padding-left:10px;
	padding-top:10px;
}
h4 {
 	font-style: italic;
	padding-top:10px;
	font-size: 5px;
}
h5 {
	padding-top:10px;
	font-size: 5px;
}

p {
	margin:0px auto;
	padding-left:10px;
	font-size:15px;
}


.banner {
	/*height:250px;*/
	color:#3A0842;
	font-family: 'Ubuntu', sans-serif;
	background-size:cover;
	text-align: center;
	margin: 0 auto;
	padding-top: 20px;
	max-width: 100%;
	position: relative;

}

.banner-image {
	background-image: url("./images/Tax_Forms_Photo.jpg");
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 0;
	opacity: 0.4;
}

.banner-text {
	position: relative;
	z-index: 1;
}

.banner h1 {
	font-weight: bold;
	font-size: 120px;
	padding-top: 5px;
}
.banner h2{
	font-weight: thin;
	font-size:15px;
	margin: 0 auto;
	padding-bottom: 10px;
}

.grid_1 {
	display: grid;
	grid-template-columns:1fr 1fr;
	grid-gap: 30px;
	justify-content:center;
}
.Eligibility {
	grid-column-start:1;
	grid-column-end:2;
	justify-content:center;
}

.images img {
	max-width: 100%;
	padding: 10px;
}

.Hours {
	grid-column-start:2;
	grid-column-end:3;
	justify-content:center;
	max-width: 400px;
}

#map {
	padding-top: 10px;
	padding-bottom: 20px;
	max-width: 100%;
	justify-content: center;
}

#map iframe {
	max-width: 100%;
	justify-content: center;
}

.grid_2 {
	display: grid;
	grid-template-columns:1fr 1fr;
	grid-gap: 30px;
	justify-content:center;
}

.Thank_yous {
	grid-column-start:1;
	grid-column-end:2;
}

.Contact_us {
	grid-column-start:2;
	grid-column-end:3;

}
.Quote{
	background-color: #FED766;
	color:#3A0842;
	font-size: 15px;
	padding:10px;
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	max-width: 100%;
}</pre></body></html>